@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Run!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p>Deploying basic Web App with Azure DevOps Pipeline</p>
</div>